# Environments and Secrets (Crucial!)
.env

# Built application binaries
lumina
lumina.exe
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test artifacts
*.test
*.out

# Go workspace files
go.work
go.work.sum

# IDE / Editor folders
.idea/
.vscode/
*.swp
# Build artifacts
dist/
.DS_Store